{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h3 class="title">Kinnitty Castle Hotel</h3>
 
    <p>
        <b>T</b>o book a room, you can either contact the hotel directly by ringing <b><u>+353 (0)57 9137318</u></b> or emailing <b><u>reception@kinnittycastlehotel.com</u></b>.
        Make sure to mention that you are a guest at the wedding of <i>Brynja Bergmann</i> and <i>Tómas Helgason</i>.<br />
        <b>T</b>here are four kinds of rooms in Kinnitty Castle Hotel: <b class="greenText">Standard Rooms</b>, <b class="redText">Large Standard Rooms</b>,
        <b class="yellowText">Large Rooms</b> and <b class="yellowText">Superior Rooms</b>.
        More details can be found by clicking on the table below.

        Notice that the prices are for per person and are based on two people sharing.
        In the event of a 3rd person they will be charged the per person rate. Similarly, if it is a single room, there will be a supplement of €50
        added to the per person rate. The rooms do either have a double bed or a twin bed, so make sure you ask for the one you prefer.

    </p>

    <table class="table responsive">
        <thead>
            <tr>
                <th class="column col-sm-1 first tableheader">Info</th>
                <th class="column col-sm-2 second tableheader">Rooms</th>
                <th class="column col-sm-5 third tableheader">Description</th>
                <th class="column col-sm-4 fourth tableheader">Price per person</th>
            </tr>
        </thead>
    </table>

    <div class="panel-group" id="accordion1">
        <div class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" id="headingOne" data-toggle="collapse" data-parent="#accordion1,#accordion2,#accordion3,#accordion4" data-target="#collapseOne">
                <div class="row panel-title row_hover">
                    <table class="table responsive">
                        <tbody>
                            <tr>
                                <td class="column col-sm-1 first"><i class="more-less glyphicon glyphicon-plus"></i></td>
                                <td class="column col-sm-2 second">Abbey Court </td>
                                <td class="column col-sm-5 third">Standard Room</td>
                                <td class="column col-sm-4 fourth">€89 per person Bed & Breakfast</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" aria-labelledby="headingOne">
                <div class="panel-body row row_info">
                    <div class="column col-sm-4">
                        <img class="img-responsive rooms" src="\static\images\abbeyCourt.jpg" />
                    </div>
                    <div class="column col-sm-8">
                        <b>ABBEY COURT</b> <br />
                        The Standard Rooms are in Abbey Court (the backyard behind the castle) on either the ground floor or the first floor.
                        Choosing the splendour of an Abbey Court guest room with its spacious elegance, luxurious surroundings and warm restful
                        colours will guarantee you a pleasurable stay and ensure that you feel like a King or Queen.<br />
                        <br />
                        <b>Features include:</b><br />
                        <ul>
                            <li>Bathtub with Shower</li>
                            <li>Hairdryer</li>
                            <li>Ironing Facilities</li>
                            <li>Daily News Papers</li>
                            <li>Crisp White Linens</li>
                            <li>Complimentary Toiletries</li>
                            <li>Complimentary Tea & Coffee available in the Lounge</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion2">
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle collapsed" id="headingTwo" data-toggle="collapse" data-parent="#accordion1,#accordion2,#accordion3,#accordion4" data-target="#collapseTwo">
                    <div class="row panel-title row_hover">
                        <table class="table responsive">
                            <tbody>
                                <tr>
                                    <td class="column col-sm-1 first"><i class="more-less glyphicon glyphicon-plus"></i></td>
                                    <td class="column col-sm-2 second">Baronial Room</td>
                                    <td class="column col-sm-5 third">Large Standard Room</td>
                                    <td class="column col-sm-4 fourth">€99 per person Bed & Breakfast</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" aria-labelledby="headingTwo">
                    <div class="panel-body row row_info">
                        <div class="column col-sm-4">
                            <img class="img-responsive rooms" src="\static\images\baronial.jpg" />
                        </div>
                        <div class="col-sm-8">
                            <b>BARONIAL ROOMS</b><br />
                            The Large Standard Rooms are on the second floor of the castle (up steep stairs). 
                            Choosing the splendour of the  Baronial Guest Room with its spacious elegance, luxurious surroundings and warm
                            restful colours will guarantee you a pleasurable stay. 
                            <br /><br />
                            <b>Features include:</b><br />
                            <ul>
                                <li>Bathtub with Shower</li>
                                <li>Hairdryer</li>
                                <li>Crisp White Linens</li>
                                <li>Ironing Facilities</li>
                                <li>Tea & Coffee making facilities</li>
                                <li>Daily News Papers</li>
                                <li>Complimentary Irish Handmade Soap Company Toiletries</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group" id="accordion3">
                <div class="panel panel-default">
                    <div class="panel-heading accordion-toggle collapsed" id="headingThree" data-toggle="collapse" data-parent="#accordion1,#accordion2,#accordion3,#accordion4" data-target="#collapseThree">
                        <div class="row panel-title row_hover">
                            <table class="table responsive">
                                <tbody>
                                    <tr>
                                        <td class="column col-sm-1 first"><i class="more-less glyphicon glyphicon-plus"></i></td>
                                        <td class="column col-sm-2 second">State Room </td>
                                        <td class="column col-sm-5 third">Large Room on First Floor of the Castle</td>
                                        <td class="column col-sm-4 fourth">€109 per person Bed & Breakfast</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" aria-labelledby="headingThree">
                        <div class="panel-body row row_info">
                            <div class="column col-sm-4">
                                <img class="img-responsive rooms" src="\static\images\large.jpg" />
                            </div>
                            <div class="col-sm-8">
                                <b>STATE ROOMS</b></br>
                                A luxury stay awaits you in our magnificently decorated State Rooms. Each one boasts original period features
                                including fireplace, cast iron roll top bathtubs and luxurious drapes.
                                <br /><br />
                                <b>Features Include:</b></br>
                                <ul>
                                    <li>Bathtub with Shower</li>
                                    <li>Hairdryer</li>
                                    <li>Ironing Facilities</li>
                                    <li>Crisp White Linens</li>
                                    <li>Tea & Coffee making facitlities</li>
                                    <li>Daily News Papers</li>
                                    <li>Complimentary Irish Handmade Soap Company Toiletries</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-group" id="accordion4">
                    <div class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed" id="headingFour" data-toggle="collapse" data-parent="#accordion1,#accordion2,#accordion3,#accordion4" data-target="#collapseFour">
                            <div class="row panel-title row_hover">
                                <table class="table responsive">
                                    <tbody>
                                        <tr>
                                            <td class="column col-sm-1 first"><i class="more-less glyphicon glyphicon-plus"></i></td>
                                            <td class="column col-sm-2 second">Castle Suites</td>
                                            <td class="column col-sm-5 third">Superior Room on First Floor with Front Lawn Views</td>
                                            <td class="column col-sm-4 fourth">€119 per person Bed & Breakfast</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" aria-labelledby="headingFour">
                            <div class="panel-body row row_info">
                                <div class="column col-sm-4">
                                    <img class="img-responsive rooms" src="\static\images\suite.jpg" />
                                </div>
                                <div class="col-sm-8">
                                    <b>CASTLE SUITES</b><br />
                                    Stay in the best guest rooms in the house with large spacious rooms with views of the front of the Castle.
                                    You may even get to see the Estates Deer in the front field when you are looking out the window.
                                    The Castle Suites are beautifully appointed and are all individually styled in keeping with the Castle's history and Heritage.
                                    <br /><br />
                                    <b>Features include:</b></br>
                                    <ul>
                                        <li>Roll Top Bath</li>
                                        <li>Individual Shower</li>
                                        <li>Hairdryer</li>
                                        <li>Bathrobe and Slippers</li>
                                        <li>Crisp White Linens</li>
                                        <li>Ironing Facilities</li>
                                        <li>Complimentary Toiletries</li>
                                        <li>Comlimentary News Paper</li>
                                        <li>Complimentary Tea & Coffee available in the Lounge</li>
                                        <li>Bottled Sparkling and Still Water</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="row">
                    <div class="column col-sm-4">
                        <img class="img-responsive" src="/static/images/bakgardur.jpg" />
                        <p> Abbey Court </p>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-responsive" src="/static/images/kastali.jpg" />
                        <p> Kinnitty Castle Hotel </p>
                    </div>
                    <div class="column col-sm-4">
                        <address>
                            <b><u> CONTACT INFORMATION: </u></b>
                            <br />
                            <p id="location">
                                <a id="link" href="https://www.google.com/maps/place/Kinnitty+Castle+Hotel/@53.2410576,-7.6984324,9z/data=!4m5!3m4!1s0x485cffcd7e85903f:0x1fd515e8eaf51c5!8m2!3d53.1034684!4d-7.7070506"
                                   target="_blank">Kinnitty Castle Hotel &nbsp<span class="glyphicon glyphicon-map-marker"></span></a>
                            </p>
                            Kinnitty, Birr <br />
                            Co. Offaly, Ireland <br />
                            Phone: +353 (0)57 9137318 <br />
                            Email: reception@kinnittycastlehotel.com <br />
                            <p>Website: <a href="https://www.kinnittycastlehotel.com/" target="_blank">https://www.kinnittycastlehotel.com/</a></p>
                            <br />  <br />
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                {% endblock %}
