{% extends "layout.html" %}

{% block content %}


<div class="container">

    <h3 class="title" id="firstPageTitle"> Welcome to our Wedding Website! </h3>

    <div class="column col-md-7" id="homeText">
        <p>
            As you all know, we are getting married on the
            <big><b><font color="004d00"> 10th of August 2019 </font></b></big>
            at
            <big><b><font color="004d00">Kinnitty Castle Hotel</font></b>.</big>
            The ceremony will start at 2:30 pm, but we ask that people arrive no later than
            <b><font color="004d00">2 pm</font></b>.
            <br /> <br />
            Instead of buying us wedding gifts, we ask that you book a room for yourselves at Kinnitty Castle Hotel on the night
            of the wedding. Since check-in is not until 3 pm, guests will have to arrive ready (clothes, hair and makeup) to Kinnitty Castle.
            Information about the hotel rooms and prices are in the
            <b><i>Kinnitty Castle</i></b>
            page in the navigation bar. We also listed up some places to eat and drink in Dublin 
            (<b><i>Food & Drinks</i></b> page)
            as well as fun things to do for those staying in the city 
            (<b><i>Things To Do</i></b> page).
            <br /> <br />
            Our good friend <i>Elín Áslaug Ormslev</i> and Tómas's brother, <i>Einar Helgason</i>, will help us to manage the wedding, keep track
            of speeches, games and entertainment. If anyone needs to contact them regarding speeches, entertainment etc. they can do that
            via Facebook Messenger or by phone;
            <b>Elín +354 6920286</b>
            and
            <b>Einar +354 8676272</b>.
            <br /> <br />
            <big><i>- Brynja & Tómas &hearts;</i></big>
            <br />
        </p>

        <div id="countdownTimer">
            <iframe src="http://free.timeanddate.com/countdown/i6qftt8n/n78/cf12/cm0/cu4/ct0/cs1/ca0/cr0/ss0/cac000/cpc000/pc0f9/tcfff/fs100/szw320/szh135/tatWedding%20countdown/tac000/tptWedding%20countdown/tpc000/mat%20/mac000/mpt%20%20%20%20/mpc000/iso2019-08-10T14:30:00/bo2/pa10" allowTransparency="true" frameborder="0" width="205" height="72"></iframe>
        </div>
    </div>

    <div class="column col-md-5">

            <div id="usTwo">
                <img class="img-responsive" src="/static/images/us.jpg" />
            </div>

    </div>

</div>

    <!--<div class="column col-md-5" >
        <div id="map"></div>
    </div>-->


{% endblock %}
